[Desktop Entry]
Name=Ants Terminal
Comment=A modern terminal with themes, image support, and more
Exec=/mnt/Storage/Scripts/Linux/Ants/launch.sh
Icon=ants-terminal
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator;
Keywords=terminal;chat;ants;
StartupWMClass=ants-terminal
